/*
------------------------------------------------------------------
----------------------------  SITE CSS  --------------------------
-------------------------  STYLES GERAIS   -----------------------
------------------------------------------------------------------
*/

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #121212;
    color: #fff;
}

::selection {
    background-color: #7A0BC0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: #00d2df;
    border-radius: 5px;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

@media screen and (min-widh: 991px) {
    .navbar {
        padding: 0 15%;
        background-color: #151515;
        border-bottom: solid 2px #272727;
        height: 100px !important;
    }
}

.navbar {
    padding: 0 15%;
    background-color: #151515;
    border-bottom: solid 2px #272727;
}

.navbar-toggler {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0 #151515;
}

.navbar-brand {
    color: #00B4D8 !important;
    position: static;
}

.nav-item {
    margin: 10px 30px;
}