/*
------------------------------------------------------------------
----------------------------  SITE CSS  --------------------------
-------------------------  STYLES GERAIS   -----------------------
------------------------------------------------------------------
*/

* {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #121212;
    color: #fff;
}

::selection {
    background-color: #7A0BC0;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: #00d2df;
    border-radius: 5px;
}

/*
------------------------------------------------------------------
----------------------------  SITE CSS  --------------------------
-------------------------  STYLES NAVBAR   -----------------------
------------------------------------------------------------------
*/

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

@media screen and (min-widh: 991px) {
    .navbar {
        padding: 0 15%;
        background-color: #151515;
        border-bottom: solid 2px #272727;
    }
}

.navbar {
    padding: 10px 15%;
    background-color: #151515;
    border-bottom: solid 2px #272727;
    font-weight: 600;
}

.navbar-brand {
    color: #00B4D8 !important;
    position: static;
}

.nav-item {
    margin: 10px 30px;
}

.nav-link:hover {
    color: #00B4D8 !important;
    padding-bottom: 6px;
    border-bottom: solid 2px #00B4D8;
}

.navbar-toggler {
    border: none;
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #00d2df;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .35s ease-in-out;
}

.middle-bar {
    margin-top: 0 !important;
}

.navbar-toggler .top-bar {
    margin-top: 0px !important;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;

}

.navbar-toggler .bottom-bar {
    margin-top: 0px !important;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -15px !important;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 15px !important;
    transform: rotate(0deg);
}


/*
------------------------------------------------------------------
----------------------------  SITE CSS  --------------------------
--------------------------  STYLES HOME   ------------------------
------------------------------------------------------------------
*/

.margin {
    margin-bottom: 80%;
}

/*Text Animations*/

.text-animation {
    margin-left: 15.5% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-color: #121212;
}

@media screen and (max-width: 991px) {
    .text-animation {
        min-height: 40vh;
        margin-left: 0% !important;
        text-align: center !important;
    }

    .text-animation .container .estatico {
        font-size: 3vw !important;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 54px !important;
    }

    .text-animation .container .animado {
        margin-top: -25px;
    }

    .animado li {
        font-size: 3.6vw !important;
    }

    #svg-gui {
        display: none;
    }

    .animado li span::after {
        top: 0;
        margin-top: -2px !important;
        border-left: 3px solid #ffff !important;
    }
}

@media screen and (max-width: 640px) {
    .text-animation {
        min-height: 25vh;
    }

    .buttons {
        margin-top: -26px;
    }
}

@media screen and (max-width: 520px) {
    .text-animation .container .estatico {
        font-size: 16px !important;
    }

    .animado li {
        font-size: 18px !important;
    }
}

@media screen and (max-width: 491px) {
    .text-animation {
        min-height: 20vh;
    }

    .margin {
        margin-bottom: 200% !important;
    }
}

.text-animation .container .estatico {
    font-size: 1.4vw;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 14px;
}

.text-animation .container .animado {
    padding-left: 0;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.animado li {
    color: #00B4D8;
    font-size: 2.3vw;
    font-weight: 500;
    left: 0;
    position: relative;
    top: 0;
    animation: slide 6.8s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.animado li span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 3px;
    border-left: 5px solid #ffff;
    animation: typing 1.7s steps(19) infinite;
    background: #121212;
}

.animado li span {
    position: relative;

}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0px -35px 0 35px;
    }
}

.buttons {
    display: flex;
}

.btn:active,
.btn:focus,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-github,
.btn-email {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #CAB8FF;
    color: #e2d8ff;
}

.btn-linkedin,
.btn-curriculo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 8%;
    border-color: #00B4D8;
    color: #00B4D8;
}

.btn-github:hover,
.btn-email:hover {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #7A0BC0;
    background-color: #121212;
    color: rgba(255, 255, 255, .6);
    text-shadow: 0 0 15px rgba(122, 11, 192, .5), 0 0 10px rgba(122, 11, 192, .5);
}

.btn-linkedin:hover,
.btn-curriculo:hover {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-color: #0A66C2;
    background-color: #121212;
    color: rgba(255, 255, 255, .6);
    text-shadow: 0 0 15px rgba(10, 102, 194, .8), 0 0 10px rgba(10, 102, 194, .8);
}

.buttons i {
    font-size: 22px;
}

.buttons p {
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 991px) {
    .buttons {
        margin: 0 37% 0 37%;
    }

    .buttons i {
        font-size: 1.53vh;
    }

    .buttons p {
        font-size: 1.38vw;
    }
}

@media screen and (max-width: 991px) {
    .buttons {
        margin-top: -2%;
    }
}

@media screen and (max-width: 840px) {
    .buttons {
        margin-top: -4%;
    }

    .buttons i {
        font-size: 13px;
    }

    .buttons p {
        font-size: 12px;
    }
}

@media screen and (max-width: 769px) {
    .buttons {
        margin-top: -4% !important;
        margin: 0 34% 0 34%;
    }
}

@media screen and (max-width: 740px) {
    .buttons {
        margin-top: -5%;
        margin: 0 34% 0 34%;
    }
}

@media screen and (max-width: 650px) {
    .buttons {
        margin: 0 34% 0 34%;
    }
}

@media screen and (max-width: 640px) {
    .buttons {
        margin: 0 32% 0 32%;
        margin-top: -7%;
    }
}

@media screen and (max-width: 540px) {
    .buttons {
        margin: 0 32% 0 32%;
        margin-top: -9%;
    }
}

@media screen and (max-width: 420px) {
    .buttons {
        margin: 0 28% 0 28%;
        margin-top: -10%;
    }
}

#svg-gui {
    margin-right: 20% !important;
    width: 30%;
    height: 30%;
}

.animation-scroll {
    letter-spacing: 2px;
    font-weight: bold;
}

#scrollDownIcon {
    font-size: 12px;
    animation: scrollDown 2s ease-in-out infinite;
}

@keyframes scrollDown {
    0% {
        transform: translate(0, -7px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 7px);
        opacity: 0;
    }
}

@media screen and (max-width: 640px) {
    .animation-scroll {
        margin-top: 25px;
        margin-bottom: 25px !important;
    }
}

/*Sobre Mim*/

.sobreMim {
    /* border-top: solid #272727 3px; */
    background-color: #151515;
    min-height: 50vh;
}

.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    margin-right: 0;
    margin-left: 0;
}

.guiFoto {
    width: 100%;
}

.guiFoto img {
    width: 65%;
    opacity: 0.4; 
    border-left: 5px solid #7A0BC0;
    transition: .3s ease-in-out;
}

.guiFoto img:hover {
    opacity: 1;
    border-left: 5px solid #00B4D8;
    box-shadow: 10px 10px 66px -4px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 10px 10px 66px -4px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: 10px 10px 66px -4px rgba(255, 255, 255, 0.1);
}

.Text p span {
    font-weight: bold;
}

.sobreMim{
    letter-spacing: 1px;
}

.sobreMim-Text-Title{
    font-size: 24px;
    font-weight: bold;
    color: #c4c4c4;
}

.sobreMim-Text-Loc{
    font-size: 18px;
    font-weight: bold;
    color: #c4c4c4;
}

.sobreMim-Text-Content{
    font-size: 16px;
    color: #c4c4c4;
    line-height: 1.5rem;
}

.experiencia {
    margin-top: 120px;
    min-height: 50vh;
}

.experiencia-Text-Title{
    font-size: 24px;
    font-weight: 600;
    color: #c4c4c4;
}

.menu-lugares{
    width: 230px;
}

.menu li{
    font-size: 1.1rem;
    padding: 10px 20px;
}

.menu li.ativado{
    border-left: 2px solid #00B4D8;
}

.menu li.desativado{
    border-left: 2px solid rgb(104, 104, 104);
}